html { height: 100%; overflow: hidden; }
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
}
nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
    text-align: center;
}
nav a{
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: #fff;
    margin-left: 30px;
    line-height: 50px;
}
h1 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Arial, sans-serif;
    font-size: 400%;
    color: #fff;
}
h2  {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #fff;
}
p {
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: #fff;
}
#secao1 {
    background-image: url("../img/img1.jpg");
    background-size: cover;
}
#secao1 {
    text-align: center;
}
#secao2 {
    background-image: url("../img/img3.jpg");
    transform: translateZ(-1px) scale(2.02); /* scale(2) */
    z-index: -1;
}
#secao2 p{
    text-align: justify;
}
#secao2 img{
    width: 10%;
    float: right;
    margin:0 0 10px 20px;
}
#secao3 {
    background-image: url("../img/img2.jpg");
    background-size: cover;
}
#secao4 {
    background-image: url("../img/img4.jpg");
    background-size: cover;
}
.slide {
    position: relative;
    padding: 25% 10%;
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}

.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.form-contact{
    margin-left: 45px;
    font-size: 18px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    margin-bottom: 5px;
    font-size: 18px;
    display: block;
}
.field {
    display: block;
    width: 50%;
    padding: 8px 10px;
    line-height: 20px;
    border: 1px solid #ddd;
    font-family: 'Arial', sans-serif;
    background: #fff;
    font-size: 16px;
    /*outline: none;*/
    outline-color: rgb(0, 0, 51, 0.5);
}
.button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    line-height: 40px;
    padding: 0 30px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer; /* Muda o estilo do cursor */
}
.button:hover {
    text-decoration: underline;
}